.footerCopyright {
  background: linear-gradient(0deg, #1c1c20, #1c1c20),
    linear-gradient(0deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03));
  border-top: 1px solid #34343c;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  align-items: center;
}
.footerCopyright  p{
  font-size: 10px;
  line-height: 140%;
  color: #FFFFFFB2;
  font-family: 'Inter-500';
  
}
.footerCopyright div a{
  height: 34px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #FFFFFF; 
  border-radius: 100%;
}

.footerCopyright div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.main{
  /* padding-top: 96px; */
}

@media screen and (max-width:768px) and (min-width:320px){
  .footerCopyright p{
    order: 1;
  }
  .footerCopyright > div{
    order: 2;
  }
  .footerCopyright div a{
    scale: 0.7;
  }
  .footerCopyright div{
    gap: 8px;
  }
}